.intro-container{
    text-align: center;
    height: 400px;
    width: 100%;
    
    margin: 0%;
    
}

.navbar{
    background-color: #03045E;
    
    font-weight: 500;
    font-family: 'Lobster',cursive;

}

.home-button{
     color: white;
    
   }

.navbar-nav{
    padding-left: 50px;
}   

.title{
    width: 100%;
    height: 100%;
    background-color: #03045E;
    margin: 0;
}

.greeting{
    padding-top: 100px;
    color:  #FFFFFF;
    font-family: 'Lobster', cursive;    
}


.work-intro{
    height: 750px;
    background-color: #00B4D8;
}
.footer{
   
    height : 200px ;
    text-align: center;
    padding: 50px;
    background-color: black;
    font-size: 1.5em;
    font-family: 'Acme',sans-serif;
    font-weight: 500;
    color: white;
    

}
.dev-details{
    width: 100%;
    height: 400px;
    margin: 0;
    background-color: whitesmoke;
    
}

.front-end,.back-end,.android-dev{
    text-align: center;
    border: 8px solid #00B4D8;
    
    
}

.dev-images{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    
}


.be-heading , .be-languages , .a-heading,.fe-heading , .fe-languages , .a-languages{
    text-align: center;
    color: #03045E;
    font-family: 'Acme', sans-serif;
    padding-top: 50px;
}
.be-heading,.a-heading,.fe-heading{
    font-size: 2em;
    padding-bottom: 50px;

}

.be-languages,.fe-languages,.a-languages{
    font-size: 1.5em;
}




.project-tile{
    width: 29.33%;
    height : 200px;
    border: 10px solid white;
    text-align: center;
    margin: 2%;
    background: url("images/p2.jpg");
    padding: 0;
}

.row{
    width: 100%;
    margin: 0;
   
}

.title-image{
    padding: 0%;
}

.work-heading , .project-heading{
    font-size: 2.5em;
    color:  whitesmoke;
    background-color: #00B4D8;
    font-weight: 500;
    font-family: 'Lobster' , cursive;
    text-align: center;
    padding: 80px;
}

.project-heading{
    background-color: #21325E;
    
}



.project-info-content{
    background-color: #21325E;

}

.project-tile-info{
    width: 100%;
    height: 50%;
    margin-top: 100px;
    background-color: white;
    padding-top: 20px;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    opacity: 0.7;
    
}

.contact-images{
    width: 50px;
    height: 50px;
    padding: 10px;
}


