.intro-container{
    text-align: center;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin: 0%;
    
}
.title{
    width: 100%;
    height: 100%;
    background-color: #03045E;
    margin: 0;
}

.greeting{
    padding-top: 100px;
    color:  #FFFFFF;
}
.work-info{
    border: 1px solid black;
}
.footer{
    border: 1px solid black;
    height : 200px ;
    text-align: center;
    padding: 50px;
    background-color: #FFC600;

}
.dev-details{
    width: 100%;
    height: 200px;
    margin: 0;
    background-color: black;
}

.front-end{
   
    
    border: 1px solid black;
}
.back-end{
    
    
    border: 1px solid black;
}

.android-dev{
    
    border: 1px solid black;
}


.be-heading , .be-languages , .a-heading,.fe-heading , .fe-languages , .a-languages{
    text-align: center;
    color: #FFFFFF;
}

.android-dev{
    text-align: center;
}

.project-tile{
    width: 29.33%;
    height : 200px;
    border: 1px solid black;
    text-align: center;
    margin: 2%;
    background: url("images/p2.jpg");
}

.row{
    width: 100%;
    margin: 0;
   
}

.title-image{
    padding: 0%;
}

.work-heading , .project-heading{
    font-size: 30px;
    color: #5800FF;
    background-color: #E900FF;
}

.project-info-content{
    background-color: #000000;
}





